.aboutInfoItemStyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    position: absolute;
    left: 18rem;
}

.item p {
    font-size: 1.1rem;
}

.top_margin {
    top: 1rem;
}

.second_line {
    margin-top: 4rem;
}

.third_line {
    margin-top: 8rem;
}

.fourth_line {
    margin-top: 12rem;
}

.item {
    color: #6a040f;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 1.35rem;
}

@media only screen and (max-width: 768px) {
    .aboutInfoItemStyle {
        flex-direction: column;
        align-items: flex-start;
        /* gap: 1rem; */
    }
    .items {
        position: initial;
        /* gap: 1rem; */
    }
    .item {
        padding-top: 1rem;
    }
    .title {
        font-size: 2rem;
    }
    .second_line, .third_line, .fourth_line {
        margin-top: 0;
    }
}