@font-face {
    font-family: "Rock Salt";
    src: url("./fonts/RockSalt-Regular.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.switch-wrapper {
    position: relative;
}

input, textarea {
    outline: none;
    border: 2px solid #ced4da;
    display: block;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #212529;
    border-radius: 0.25rem;
    width: 100%;
    transition: 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #d20e4a;
    background-color: white;
}

a {
    text-decoration: none;
}

.page-header {
    margin: 0 0 10px 0;
    font-size: 65px;
    line-height: 90px;
    letter-spacing: -3px;
    font-weight: 900;
    color: #F50049;
    text-transform: uppercase;
}

.line-wrap {
    height: 90px;
    overflow: hidden;
}

.line-wrap-larger {
    height: 150px;
    overflow: hidden;
}

.line-wrap-extra-large {
    height: 190px;
    overflow: hidden;
}

@media screen and (max-width: 430px) {
    .line-wrap-larger {
        height: 150px;
    }
    .line-wrap-extra-large {
        height: 270px;
    }
}

.img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
}

/* @media screen and (max-width: 992px) {
    .img {
        margin-top: 350px;
        object-position: center;
    }
} */

.navbar {
    background-color: transparent !important;
}

.navbar .navbar-brand {
    font-family: "Rock Salt";
    letter-spacing: 2px;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    color: #7209b7 !important;
    /* color: #40916c; */
    text-transform: uppercase !important;
}

.navbar a {
    font-size: 1.3rem !important;
    text-transform: capitalize !important;
    color: black !important;
    margin: 0 10px !important;
}

.navbar .menu_active {
    font-weight: bold !important;
    border-bottom: 1px solid #370617 !important;
}

.navbar a:hover {
    color: #F50049 !important;
}

@media screen and (max-width: 991px) {
    .navbar .navbar-brand {
        font-size: 1.5rem !important;
    }
    .navbar .menu_active {
        font-weight: bold !important;
        border-bottom: none !important;
    }
}

/*==========================================================
Home Page Section
============================================================*/

#header {
    width: 100%;
    margin-top: 80px;
    font-family: "FF Good Pro";
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: -3px;
    word-spacing: 5px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}

#header .brand-name {
    color: #48cae4;
}

#header h2 {
    color: #484848;
    font-size: 24px;
}

.btn-get-started {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    color: #d20e4a;
    border: 2px solid #d20e4a;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn-get-started:hover {
    background-color: #d20e4a;
    color: white;
    transform: translateY(-5px);
}

.header-img {
    text-align: right;
}

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 992px) {
    .home-details {
        width: 100% !important;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    #header {
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    #header {
        margin-top: 50px;
    }
}

/*==========================================================
contact Page Section
============================================================*/

.contact-header {
    color: #8b5e34;
}

.contact_div .btn-submit {
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 50px;
    color: #d20e4a;
    background-color: transparent;
    border: 2px solid #d20e4a;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.contact_div .btn-submit:hover {
    background-color: #d20e4a;
    color: white;
    transform: translateY(-5px);
}

.contact_div .personal_contact {
    width: 40%;
}

.contact_div .contact-column-heading {
    text-align: center;
    margin: 3rem 0 1rem 0;
    color: #6f1d1b;
}

.contact_div .contact-info .contact-column-heading {
    margin: 1rem 0 1rem 0;
}

.contact_div .contact-info ul, .contact_div .social-info ul {
    list-style: none;
    padding-left: 0 !important;
}

.contact_div .contact-info ul li {
    border-radius: 12px;
    overflow: hidden;
}

.contact_div .contact-info ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    pointer-events: none;
}

.contact_div .contact-info ul li:hover {
    background-color: #E40044;
}

.contact_div .contact-info ul li:hover .icon {
    color: white;
}

.contact_div .contact-info ul li:hover .text {
    color: white;
    text-decoration: none;
}

.contact_div .contact-info ul li a .icon {
    width: 25px;
    color: #E40044;
}

.contact_div .contact-info ul li a .text {
    color: #48464b;
}

.contact_div .social-info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    gap: 1rem;
    margin-top: 10px;
}

.contact_div .social-info ul li {
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.contact_div .social-info ul li a {
    color: #023e8a;
    text-decoration: none;
    padding-top: 7px;
}

.contact_div .social-info ul li:hover {
    background-color: #E40044;
    border-radius: 5rem;
    cursor: pointer;
}

.contact_div .social-info ul li:hover a {
    border-radius: 5rem;
    color: white;
}

@media screen and (max-width: 992px) {
    .contact_div .personal_contact {
        width: 100%;
    }
    .contact_div .contact-info .contact-column-heading {
        margin-top: 4rem;
    }
    .contact_div .contact-info ul li a .text {
        font-size: 1rem;
    }
}

/*==========================================================
About Page Section
============================================================*/

#about {
    width: 100%;
    margin-top: 40px;
}

#about .about_heading {
    margin: 0 0 10px 0;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -3px;
    font-weight: 900;
    color: black;
    font-family: "FF Good Pro";
    text-transform: uppercase;
}

#about .brand-name {
    margin: 0 0 10px 0;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -3px;
    font-weight: 900;
    color: #7209b7;
    font-family: "FF Good Pro";
    text-transform: uppercase;
}

#about .about_desc {
    max-width: 80%;
    font-size: 1.15rem;
}

#about .about-img {
    text-align: right;
}

#about .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.about__info__items {
    margin-top: 5rem;
}

.about__info__item {
    margin-bottom: 5rem;
}

.about__info__heading {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #E40044;
    font-family: "FF Good Pro";
}

@media only screen and (max-width: 768px) {
    .about__info__heading {
        font-size: 1.5rem;
    }
    #about .about_heading, #about .brand-name {
        font-size: 2.2rem;
        letter-spacing: 0;
        line-height: 1.2;
    }
    .line-wrap {
        height: initial;
    }
    #about {
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {
    #about {
        margin-top: 50px;
    }
}

/*--------------------------------------------------------------
-----------------------Project Section--------------------------
---------------------------------------------------------------*/

.project_buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.project_buttons {
    margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
    .project_buttons_container {
        flex-direction: column;
        margin-bottom: 0;
    }
    .project_buttons {
        margin: 0 0 2rem 0;
    }
    .page-header {
        font-size: 2.65rem;
        word-spacing: 6px;
    }
}

/*--------------------------------------------------------------
------------------------Thesis Section--------------------------
---------------------------------------------------------------*/

.Thesis {
    padding: 4rem;
}

.Thesis table {
    margin-bottom: 2rem;
}

.Thesis h1 {
    margin-top: 3rem;
}

.Thesis h2 {
    font-family: "FF Good Pro";
    letter-spacing: 1px;
}

.Thesis p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

/*--------------------------------------------------------------
--------------------------BE Projects---------------------------
---------------------------------------------------------------*/

.BE_projects_container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.BE_projects_container .heading-primary {
    margin: 2rem 0 3rem 0;
    text-align: center;
    border-bottom: 2px solid rgba(29, 29, 29, 0.6);
}

.BE_projects_container .heading-primary h1 {
    font-size: 90px;
    font-family: "FF Good Pro";
    letter-spacing: -3px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.BE_projects_container .heading-primary p {
    font-size: 1.65rem;
    font-family: 'Bad Script', cursive;
    font-weight: 700;
}

/* 
.BE_projects_container .accordion dl, .BE_projects_container .accordion-list {
    border: 1px solid #ddd;
} */

/* .BE_projects_container .accordion dl:after, .BE_projects_container .accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #2ba659;
} */

.BE_projects_container .accordion dd, .BE_projects_container .accordion__panel {
    background-color: #ede9e8;
    font-size: 1em;
    line-height: 1.5em;
}

.BE_projects_container .accordion p {
    padding: 1em 2em 1em 2em;
}

.BE_projects_container .accordion {
    position: relative;
    background-color: #ede9e8;
    box-shadow: 0px 5px 15px 5px #a7a9be;
}

.BE_projects_container .accordionTitle, .BE_projects_container .accordion__Heading {
    background-color: #2B3252;
    text-align: center;
    padding: 1.4rem;
    display: block;
    text-decoration: none;
    color: #EC4D37;
    transition: background-color 0.5s ease-in-out;
}

.BE_projects_container .accordionTitle {
    /* font-family: 'Julius Sans One', sans-serif; */
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Bad Script', cursive;
}

.BE_projects_container .accordionTitle:before, .BE_projects_container .accordion__Heading:before {
    content: "+";
    font-size: 1.65em;
    line-height: 0.5rem;
    float: left;
    transition: transform 0.3s ease-in-out;
    margin-top: 8px;
}

.BE_projects_container .accordionTitle:hover, .BE_projects_container .accordion__Heading:hover {
    background-color: #0F0E17;
    color: #FF8906;
}

.BE_projects_container .accordionTitleActive, .BE_projects_container .accordionTitle.is-expanded {
    background-color: #0F0E17;
    color: #FF8906;
}

.BE_projects_container .accordionTitleActive:before, .BE_projects_container .accordionTitle.is-expanded:before {
    transform: rotate(-225deg);
}

.BE_projects_container .accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50rem;
    padding: 0rem 1.5rem 0 1.5rem;
    transition: max-height 1s ease-in-out;
}

.BE_projects_container .accordionItem.is-collapsed {
    max-height: 0;
}

/* .BE_projects_container .no-js .accordionItem.is-collapsed {
    max-height: auto;
} */

.animateIn {
    -webkit-animation: accordionIn 0.65s normal ease-out both 1;
    animation: accordionIn 0.65s normal ease-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.65s alternate ease-out both 1;
    animation: accordionOut 0.65s alternate ease-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
    }
}

@media screen and (min-width: 48em) {
    .BE_projects_container .accordionItem {
        max-height: 50em;
        transition: max-height 0.5s;
    }
}

@media screen and (max-width: 768px) {
    .BE_projects_container .accordionItem {
        padding: 0;
    }
}