@font-face {
  font-family: 'FF Good Pro';
  src: local('FF Good Pro Bold'), local('FF-Good-Pro-Bold'), url('./fonts/FFGoodPro-Bold.woff2') format('woff2'), url('./fonts/FFGoodPro-Bold.woff') format('woff'), url('./fonts/FFGoodPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif !important;
}